#requirements.txt

pandas
numpy
matplotlib
seaborn
scikit-learn
datasets
transformers
torch
unidic-lite
fugashi
beautifulsoup4
lxml
japanize-matplotlib
pymongo
nlplot
sympy
sentencepiece
accelerate
tensorboard
flask
Flask-SQLAlchemy
Flask-WTF
Flask-Migrate
Flask-Login
pytest
Flask-DebugToolbar

# spacy
# mecab-python3