#requirements.txt

pandas
numpy
matplotlib
seaborn
unidic-lite
beautifulsoup4
lxml
japanize-matplotlib
pymongo
nlplot
sentencepiece
accelerate
flask
Flask-SQLAlchemy
Flask-WTF
Flask-Migrate
Flask-Login
pytest
Flask-DebugToolbar

torch
transformers
datasets
scikit-learn
fugashi
sympy
tensorboard

# spacy
# mecab-python3